.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 80vw;
  background: rgb(162, 223, 231);
}



.aside {
  margin: 1%;
  width: 20%;
}

.main {
  margin: 1%;
  width: 80%;
}

.search{
  display: flex; 
   justify-content: center;
   align-items: center;
}
