.movie {
  height: 75px;
  display: flex;
  position: relative;
  margin: 10px 0 10px 0;
  background: rgb(255, 252, 252);
}

.img {
  width: 50px;
  height: 75px;
  margin-right: 10px;
}
.title {
  margin: 0;
  font-size: 13px;
}
.release{
  margin: 2px 0 0 0;
  font-size: 11px;
}
/* .btnblock{
  position: absolute;
  right: 0;
} */
.button{
  border: none;
  background: rgb(252, 252, 255);
}
.btnblock{
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  bottom: 0;
}

