.form{
    display: flex;
    flex-direction: column;
    background: grey;
    padding: 2px;
}
.span{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.Button{
background: #000000;
color: #ffffff;
border: 1px solid black;
}