.header{
    width: 1280px;
}
.header_up{
    display: flex;
    align-items: center;
    background: #002258;
    color: #ffffff;
}
.social_links{
    margin: 0 43px 0 140px;
    width: 96px;
    display: flex;
    justify-content: space-around;

}
.logo_wrap{
    margin: 13px 0 13px 0;
}
.logo{
    display: flex;
    justify-content: center;
    border: 1px solid #002258;;
    font-size: 21px;
    font-family: Helvetica, sans-serif;
    font-weight: thin;
    margin: 0 61px 0 140px;
}
.header_down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.logo>a{
    margin: 29px 121px 24px 102px;
}
.ul{
    padding-right: 140px;
    display: flex;
    justify-content: space-around;
    width: 652px;
    list-style-type: none;
    display: flex;
    font-family: Lato, sans-serif Regular;;
    font-weight: thin;
    font-size: 13px;
}
a{
    text-decoration: none;
    color: #002258;;
}
.social_links>img{
    width: 24px;
    height: 24px;
    color: #ffffff;
}