.h3{
    padding-left: 140px;
    font-family: Lato, sans-serif;;
    font-weight: lighter;
    font-size: 24px;
    color: #002258;
}
.product_wrap{
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    width: 80%;
}
